<div class="well row" style="margin: 50px;">
	<h1 class="col-xs-12">{{selectedItem.title}}<i class="pull-right fa fa-close" ng-click="returnToItems()"></i></h1>
	<div class="col-md-6">
		<img src="{{selectedItem.src}}" style="max-width:80%;height:auto; max-height: 300px;" />
	</div>
	<h4 class="col-md-6">This is a description of the product. Please buy it blah blah I hope you like it.</h4>
	<h4 class="col-md-6">Price ${{selectedItem.price}}</h4>
	<div class="col-md-6">
		<button class="btn btn-primary"  ng-click="addToCart(selectedItem)">Add to cart <i class="fa fa-cart-plus"></i></button>
	</div>
</div>